<div id="registration_errors">
</div>
<div id="signin_link">
  <%=link_to "Signin","/users/signin"%>
  <%=link_to "Signout","/users/signout"%>
</div>
<center> Registration</center>
<%=form_for @user,remote: true do |f|%>
  <%=f.label :username%><br/>
  <%=f.text_field :username,placeholder: "Enter the username"%><br/>
  <%=f.label :password%><br/>
  <%=f.text_field :password,placeholder: "Enter the password"%><br/>
  <%=f.label :password_confirmation%><br/>
  <%=f.text_field :password_confirmation,placeholder: "Enter the password once more"%><br/>
  <%=f.submit%>
<%end%>